.footer {
  padding: 3.5rem;
  padding: 5rem;
  background: linear-gradient(22.25deg, rgba(203, 53, 107, 0.9) 5.86%, rgba(189, 63, 50, 0.9) 115.66%);
  color: #fff;
  &__text {
    &--paragraph {
      font-weight: 300;
      font-size: 1.8rem;
      text-align: justify;
      @include inline-block-centered;
    }
    &--heading {
      text-transform: uppercase;
      text-align: justify;
      font-size: 2.8rem;
      font-weight: 700;
    }
    &--attention {
      text-transform: uppercase;
      text-align: center;
      font-size: 3.8rem;
      font-weight: 700;
    }
  }
  &__email-container {
    text-align: center;
  }
}