// grid vars.
$container-width: 1440px;

// color vars.
$cta-btn-text: #153935;
$section-text-color: #011627;
$color-grey-1: #2EC4B6;
$section-heading-red-text-color: #AE363E;
$color-red-3: #153935;
$color-red-4: #9E5856;
$color-grey-2: #C4C4C4;
$color-navy_blue-1: #3D5263;
$color-grey-3: #999999;