.is-lecture-selected {
  &::after {
    transform: translateX(-60%);
  }
}

.is-responsive-menu-toggled {
  transform: translateX(0%);
}

.is-menu-hamburger-clicked {
  & > *:first-child {
    top: calc(50% - 3.5px);
    transform: translateX(-50%) rotate(45deg);
  }
  & > *:nth-child(2) {
    opacity: 0;
  }
  & > *:last-child {
    top: calc(50% - 3.5px);
    transform: translateX(-50%) rotate(-45deg);
  }
}