.lecture {
  &-list {
    list-style-type: none;
  }
  &-single {
    padding: 1rem;
    border: 2px solid $color-grey-2;
    text-align: left;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    // display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    // margin-right: .8rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &::after {
      content: '';
      position: absolute;
      height: 110%;
      width: 20%;
      top: 0%;
      left: 100%;
      margin-top: -1px;
      transform: translateY(0);
      background-color: $color-grey-2;
      clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
      transition: .3s all ease-out;
    }
    &:hover::after {
      transform: translateX(-60%);
    }
    &__heading {
      display: inline-block;
      font-size: 1.3rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: .8rem;
      pointer-events: none;
    }
    // &__subheading {
    //   display: inline-block;
    //   font-size: 1.1rem;
    //   font-weight: 300;
    //   text-transform: uppercase;
    //   color: rgba(21, 57, 53, 0.7);
    // }
  }
}